

    <ul class="nav navbar-nav navbar-right">
        
        @if (!User.Identity.IsAuthenticated)
        {

        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="dropdown-item">Register</a></li>
        <!-- <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li> -->
        <!-- <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li> -->
        <li><a asp-area=""  asp-controller="Account" asp-action="Login">Sign In</a></li>
        <li role="presentation" class="active"><a asp-controller="Auth" asp-action="FBSignIn">FB Sign In</a></li>
        }
        else
        {
           <li role="presentation"><a href="/UserInformation"> Profile </a></li>
           <!-- <li role="presentation"><a href="/userinformation"> User Information </a></li> -->
           <li role="presentation" class="active">
                <form method="post" asp-controller="Auth" asp-action="SignOut">
                    <button type="submit" class="btn btn-primary">Sign Out</button>
                </form>
            </li>
        }
    </ul>

  
